@media screen and (max-width: 960px) {
   
}
@media screen and (max-width: 700px) {
   
}
@media screen and (max-width: 600px) {
   
}
@media screen and (max-width: 420px) {
   
}
@media screen and (max-width: 320px) {
	
}