@import "http://webfonts.ru/import/opensans.css";

/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/

article, aside, details, cite, figcaption, figure, footer, header, hgroup, menu, nav, section, main, hr {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font: 14px Open Sans;
    color: #0f0e0e;
    background-color: #f4f4f4;
}

p, div, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

h1 {
    font-size: 1.9em
}

h2 {
    font-size: 1.6em
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.0em
}

img {
    border: none;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-l-c {
    clear: both;
}


/* general_site_css */

.wraper {
    width: 98%;
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;
}


/* site_css */

#main_header {
    background: linear-gradient(to bottom, #313131, #616161);
}

header {
    height: 145px;
}

#left_header, #center_header, #right_header {
    float: left;
    text-align: center;
    color: #dadada;
}

#left_header {
    width: 30%;
    position: relative;
    top: 32px;
}

#left_header p {
    background-repeat: no-repeat;
    background-position: left center;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.5px;
    height: 45px;
    line-height: 45px;
    width: 175px;
    text-align: left;
    padding-left: 63px;
}

#left_header p:nth-child(1) {
    background-image: url('../img/icon_mail.png');
    letter-spacing: 2.2px;
}

#left_header p:nth-child(2) {
    background-image: url('../img/icon_phone.png');
}

#center_header {
    width: 40%;
    font-size: 18px;
    position: relative;
    top: 20px;
}

#center_header img {
    width: 310px;
}

#center_header p {
    font-size: 21px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 3px;
    font-family: Open Sans;
    margin-top: 14px;
}

#right_header {
    width: 30%;
    position: relative;
    top: 35px;
    overflow: hidden;
}

#right_header p {
    font-weight: 600;
    font-size: 21px;
    float: right;
    width: 280px;
}

#right_header p span {
    color: #29ABE2;
}

#right_header p a {
    background: linear-gradient(to bottom, #515151, #1B1B1B);
    width: 187px;
    display: block;
    margin: 0 auto;
    padding: 7px 0;
    border-radius: 7px;
    color: #fff;
    margin-top: 15px;
    box-shadow: 0 2px 3px #3E3E3E;
    position: relative;
    font-size: 16px;
}

#right_header p a:active {
    top: 2px;
    box-shadow: none;
}

#main_th_poz {
    background-color: #29ABE2;
}

#th_poz {
    width: 98%;
    max-width: 1240px;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    color: #707070;
}

#th_poz_img {}

#th_poz_name {}

#th_poz_nalichie {}

#th_poz_price {}

#th_poz_input {}

#th_poz_sum {}

section {
    margin: 35px auto;
    width: 98%;
    max-width: 1240px;
    overflow: hidden;
}

.category {}

.category_name {
    border-bottom: 10px solid #29ABE2;
    background: linear-gradient(to bottom, #191919, #525252);
    color: #fff;
    text-align: center;
    padding: 5px;
}

.pozition_section {
    overflow: hidden;
    border: 3px solid #DADAC9;
    border-top: none;
}

.pozition {
    overflow: hidden;
    background: #f4f4f4;
    height: 50px;
    line-height: 50px;
}

.pozition:nth-child(even) {
    background: #D2D2D2;
}

.pozition p {
    float: left;
    text-align: center;
}

.poz_nombe {
    width: 50px;
}

.poz_img {
    width: 70px;
}

.poz_img a {}

.poz_img img {
    height: 40px;
    margin: 5px auto;
}

.poz_youtube {}

.poz_youtube a {}

.poz_youtube img {
    height: 40px;
    margin: 5px auto;
}

.poz_name {
    width: 670px;
}

.poz_nalichie {
    width: 100px;
}

.poz_price {
    width: 100px;
}

.poz_input {
    width: 100px;
}

.poz_input input {
    width: 70px;
}

.poz_sum {
    width: 100px;
}

#main_footer {
    background: #484848;
}

footer {
    width: 98%;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    color: #dadada;
    padding: 30px 0;
}

#full_sum {
    font-size: 27px;
    text-align: center;
}

#full_sum span {
    color: #29ABE2;
}

#footerdesc {
    text-align: center;
    font-size: 19px;
    margin: 20px auto;
}

#form_zakaz {}

#form_zakaz p {
    width: 100%;
    text-align: left;
    margin: 9px auto;
}

#form_zakaz p label {
    font-size: 19px;
}

#form_zakaz p input {
    width: 97%;
    border-radius: 7px;
    color: #414141;
    padding-left: 15px;
    height: 30px;
    border: navajowhite;
    font-size: 16px;
}

#form_zakaz p textarea {
    width: 99%;
    border: navajowhite;
    border-radius: 7px;
    height: 100px;
}

#form_zakaz input[type='submit'] {
    background: linear-gradient(to bottom, #515151, #1B1B1B);
    width: 187px;
    display: block;
    margin: 0 auto;
    padding: 7px 0;
    border-radius: 7px;
    color: #fff;
    margin-top: 15px;
    box-shadow: 0 2px 3px #3E3E3E;
    position: relative;
    font-size: 16px;
    border: navajowhite;
}

.pozition.selected {
    background-color: #29abe2;
}


/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../img/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../img/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../img/fancybox/blank.gif');
    /* helps IE */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}


/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../img/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}


/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}
